html {
  font-size: 16px;
  line-height: 1.5;

  overflow-x: hidden !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black !important;
  color: #fff !important;
  overflow-x: hidden !important;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}
.log {
  font-size: 36px;
  font-weight: bold;
  
}
.header {
  background: url("https://axiesreact.surielementor.com/assets/images/backgroup-secsion/img_bg_page_title_dark.jpg");
  background-size: cover;
}
.logo-light {
  display: none;
}
a:hover {
  color: #5142fc !important;
}
a {
  text-decoration: none !important;
}

@media (min-width: 982px) {
  .navbar-expand-mdd .navbar-togglerr {
    display: none !important;
  }
}
@media (min-width: 982px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (min-width: 982px) {
  .navbar-expand-mdd .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 982px) {
  .navbar-expand-mdd .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
.navbar-togglerr {
  border: 0;
  background: 0;
}
.navbar-nav .nav-item {
  font-size: 18px !important;
  line-height: 26px;
  font-weight: 700 !important;
  color: #fff;
  padding-right: 15.5px !important;
}
.no-bg {
  background: transparent;
  border: 2px solid #5142fc !important;
  color: #fff;
  transition: all 0.5s;
  padding: 10px 28px 11px;
}
.sc-button {
  display: inline-block;
  border-radius: 30px;
  padding: 12px 35px;
  border: 2px solid #fff;
  outline: none;
}
.fl-button {
  position: relative;
}
.no-bg:hover {
  background-color: #fff;
  border-color: #fff !important;
}
.yt {
  display: flex;
  gap: 0 7px;
  align-items: center;
}
.no-bg:hover span {
  color: #14141f;
}
.no-bg:hover span ion-icon {
  color: #5142fc;
}
.no-bg span {
  font-weight: 700;
}
.flat-title-page.inner {
  padding: 100px 0 59px;
  position: relative;
}
.page-title-heading .heading {
  line-height: 58px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.hmla {
  padding: 80px 15px;
}
.tf-title-heading {
    position: relative;
    line-height: 44px;
    color: #fff;
    margin-bottom: 12px;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
.sub-title {
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 60px;
}
h5 {
    font-size: 18px;
    font-weight: 700;
}
.form-inner form input {
    font-size: 14px;
    border: 1px solid rgba(138, 138, 160, 0.3);
    border-radius: 8px;
    padding: 9px 20px;
    margin-bottom: 24px;
    color: #fff;
}
input[type="text"],textarea{
    outline: 0;
    line-height: 28px;
    background: transparent;
    width: 100%;
}
.form-inner form textarea {
    height: 120px;
    font-size: 14px;
    border: 1px solid rgba(138, 138, 160, 0.3);
    border-radius: 8px;
    padding: 8px 20px;
    margin-bottom: 40px;
    color: #fff;
}
.form-inner button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.5s;
    width: 100%;
}
button{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    border-radius: 30px;
    padding: 15px 39px;
    display: inline-block;
   
}
input[type="text"]:focus{
    border: 1px solid #8A8AA0;
    outline: 0;
}
.form-inner button:hover {
    border: none;
    background: #5142fc;
    color: #fff;
}
.form-inner button:hover {
    border: 2px solid #5142fc;
}
.images{
    margin-bottom: 20px;
}
ooter .title-widget {
    margin-bottom: 24px !important;
  }
  footer .widget-menu ul li {
    margin-bottom: 14px;
    padding: 0.1em 0;
  }
  footer .widget-menu ul li a {
    font-size: 14px;
    line-height: 22px;
    position: relative;
  }
  footer .widget-menu.style-1 {
    padding-left: 30px;
    padding-top: 18px;
  }
  footer .widget-subcribe {
    padding-top: 17px;
    padding-left: 20px;
  }
  footer .form-subcribe input {
    border: 1px solid rgba(138, 138, 160, 0.3);
    background: transparent;
    width: 100%;
    padding: 13px 50px 12px 22px;
    font-size: 14px;
    background: transparent;
    border-radius: 10px;
    color: #fff;
  }
  footer .widget-social ul li {
    margin-right: 12px;
    padding: 0.1em 0;
  }
  footer .widget-social a {
    background-color: #343444;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 21px;
  }
  .sub-widget-logo {
    color: #fff;
    padding-right: 35px;
    margin-bottom: 26px;
    
    line-height: 22px;
  }
  footer {
    background-color: rgb(20, 20, 31) !important;
  }
  footer .widget-social ul {
    display: flex;
  }
  a{
    color: #fff;
  }
  footer .title-widget {
    margin-bottom: 24px !important;
}
  h5{
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
  }