html {
    font-size: 16px;
    line-height: 1.5;
  
    overflow-x: hidden !important;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: black !important;
    color: #fff !important;
    overflow-x: hidden !important;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
  }
  .log {
    font-size: 36px;
    font-weight: bold;
    
  }
  .header {
    background: url("https://axiesreact.surielementor.com/assets/images/backgroup-secsion/img_bg_page_title_dark.jpg");
    background-size: cover;
  }
  .logo-light {
    display: none;
  }
  a:hover {
    color: #5142fc !important;
  }
  a {
    text-decoration: none !important;
  }
  
  @media (min-width: 982px) {
    .navbar-expand-mdd .navbar-togglerr {
      display: none !important;
    }
  }
  @media (min-width: 982px) {
    .navbar-expand-md {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  @media (min-width: 982px) {
    .navbar-expand-mdd .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
  @media (min-width: 982px) {
    .navbar-expand-mdd .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
  .navbar-togglerr {
    border: 0;
    background: 0;
  }
  .navbar-nav .nav-item {
    font-size: 18px !important;
    line-height: 26px;
    font-weight: 700 !important;
    color: #fff;
    padding-right: 15.5px !important;
  }
  .no-bg {
    background: transparent;
    border: 2px solid #5142fc !important;
    color: #fff;
    transition: all 0.5s;
    padding: 10px 28px 11px;
  }
  .sc-button {
    display: inline-block;
    border-radius: 30px;
    padding: 12px 35px;
    border: 2px solid #fff;
    outline: none;
  }
  .fl-button {
    position: relative;
  }
  .no-bg:hover {
    background-color: #fff;
    border-color: #fff !important;
  }
  .yt {
    display: flex;
    gap: 0 7px;
    align-items: center;
  }
  .no-bg:hover span {
    color: #14141f;
  }
  .no-bg:hover span ion-icon {
    color: #5142fc;
  }
  .no-bg span {
    font-weight: 700;
  }
  .flat-title-page.inner {
    padding: 100px 0 59px;
    position: relative;
  }
  .page-title-heading .heading {
    line-height: 58px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
  }
  .content-left .media {
    border-radius: 10px;
    overflow: hidden;
}
.content-left .media img{
    width: 100%;
}
.content-right h2 {
    margin-bottom: 18px;
    line-height: 40px;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
.content-right .meta-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}
.meta-item .viewed,.liked {
    padding: 5px 15px;
    border-radius: 40px;
    background-color: #565555;
    display: flex;
    gap: 0 10px;
}
.left{
    display: flex;
    gap: 0 10px;
}
.share {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #565555;
    cursor: pointer;
    margin-right: 10px;
}
.qua{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #565555;
    cursor: pointer;
}
.client-infor .meta-info{
   
    margin-right: 30px;
    background-color: #343444;
    border-radius: 16px;
    padding: 12px;
    display: flex;
}
.meta-info:last-child{
  margin-right: 0;
}
 .avatar {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 12px;
    flex-shrink: 0;
}
.avatar img{
    width: 100%;
}
.meta-info .author {
    display: flex;
    align-items: center;
    
}
.meta-info.alone{
  display: flex;
  justify-content: space-between;
}
.pricee h5{
  
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    color: #fff;

}
.featured-countdown ion-icon {
  color: #5142fc;
  font-size: 25px;
}
.owl-nav.disabled{
  display: none !important;
}
.pricee span {
  color: #8a8aa0;
  font-size: 13px;
  line-height: 21px;
}
.info span{
  font-size: 13px;
  line-height: 21px;
  color: #8a8aa0;
}
h6{
  font-weight: 700;
  font-size: 15px;
 
}
.info h6 {
  line-height: 22px;
}
a{
  color: #fff;
}
 .client-infor {
 
  width: 100%;
  
  margin-bottom: 12px;
}
.content-right p {
  font-size: 14px;
  line-height: 22px;
}
.content-right .meta-item-details{
  
    width: 100%;
    margin-top: 18px;
    margin-bottom: 33px;
    padding: 0;
}
.meta-price{
  display: flex;
  justify-content: space-between;
}
.price-box {
  display: flex;
  align-items: flex-end;
}
.content-right .meta-item-details .item {
 
  margin-right: 30px;
  background: #343444;
  border-radius: 16px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}
.pri-3:hover {
  border-color: #5142fc;
  background: #5142fc;
}
.card-media:hover .button-place-bid {
  opacity: 1;
}
.loadmoree:hover span {
  color: #fff;
}
.sc-button.style-place-bid {
  
  transition: all 0.5s;
  cursor: pointer;
}
.owl-carousel .owl-nav button.owl-prev,button.owl-next{
  display: none;
}
.content-right .meta-item-details .item:last-child{
  margin-right: 0;
}
 .content-right  .item .heading {
  
  font-size: 15px;
  line-height: 26px;
  color: #fff;
}
h5{
  font-weight: 700;
  font-size: 18px;
}
.react-tabs__tab-list > li > a.active,
.react-tabs__tab-list > li > a:hover {
  color: #5142fc;
}
.item .price-box span {
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  margin-left: 8px;
}
.count-down span:last-child {
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 2px;
}
.loadmoree{
  display: block;
  text-align: center;
  transition: 0.5s all;
  margin-bottom: 23px;
}

.qt{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
.qt span ion-icon{
  font-size: 20px;
}
.qt span:last-child{
  font-weight: 700;
}
 .react-tabs__tab {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  margin-right: 50px;
  color: var(--primary-color2);
  cursor: pointer;
  background: transparent;
  border-width: 0 0 1px 0;
  padding: 0;
}
.content-right  .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-author-box.style-2 {
  align-items: flex-start;
  display: flex;
}
li .author-avatar {
  
  margin-right: 12px;
}
li .author-avatar img {
  width: 44px;
  height: 44px;
  border-radius: 13px;
  object-fit: cover;
}
li .author-infor .name {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
  padding-bottom: 2px;
}
li .author-infor .name span {
  margin-left: 6px;
}
.author-infor .time {
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}
 .pricee h5 {
  font-size: 14px;
  line-height: 22px;
}
.pricee span {
  font-size: 13px;
  line-height: 18px;
}
.item-dit ul li{
  border-bottom: 1px solid #1f1f2c;
  padding: 12px 0 11px;
}
.item-dit ul li:last-child{
  border: 0;
}
.item-dit{
  height: 210px;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 1px;
  padding-right: 10px;
}
.item-dit::-webkit-scrollbar{
  width: 5px;
}

.item-dit::-webkit-scrollbar-thumb{
  background-color: #8a8aa0;
  border-radius: 6px;
}
.sc-card-product {
  padding: 20px;
  background: #343444;
  box-shadow: 0px 3px 16px rgb(47 83 109 / 12%);
  border-radius: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}
.card-media {
  position: relative;
  margin-bottom: 21px;
  border-radius: 20px;
  overflow: hidden;
}
.card-media img {
  width: 100%;
}
.wishlist-button {
  position: absolute;
  top: 13px;
  right: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding: 2px 11px;
  border-radius: 8px;
  background-color: #14141f;
  cursor: pointer;
  border: none;
}
.wishlist-button i {
  font-weight: 300;
  margin-right: 6px;
}
.number-like {
  width: 22px;
  display: inline-block;
  color: #fff;
}
.featured-countdown {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 0;
  border-radius: 13px;
  background-color: #343444;
  height: 36px;
  width: 151px;
}
.slogan {
  margin-right: 7px;
}
.featured-countdown span:last-child {
  letter-spacing: 1px;
}
.button-place-bid {
  top: 50%;
  opacity: 0;
  transition-delay: 0.1s;
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.4s ease;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.card-title h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  text-transform: capitalize;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  color: #fff;
}
.tags {
  width: 49px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  background-color: #5142fc;
  border-radius: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer .title-widget {
  margin-bottom: 24px !important;
}
footer .widget-menu ul li {
  margin-bottom: 14px;
  padding: 0.1em 0;
}
footer .widget-menu ul li a {
  font-size: 14px;
  line-height: 22px;
  position: relative;
}
footer .widget-menu.style-1 {
  padding-left: 30px;
  padding-top: 18px;
}
footer .widget-subcribe {
  padding-top: 17px;
  padding-left: 20px;
}
footer .form-subcribe input {
  border: 1px solid rgba(138, 138, 160, 0.3);
  background: transparent;
  width: 100%;
  padding: 13px 50px 12px 22px;
  font-size: 14px;
  background: transparent;
  border-radius: 10px;
  color: #fff;
}
footer .widget-social ul li {
  margin-right: 12px;
  padding: 0.1em 0;
}
footer .widget-social a {
  background-color: #343444;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 21px;
}
.sub-widget-logo {
  color: #fff;
  padding-right: 35px;
  margin-bottom: 26px;

  line-height: 22px;
}
p {
  font-size: 16px;
}
footer {
  background-color: rgb(20, 20, 31) !important;
}
.widget-social ul {
  display: flex;
}